:root {
    --hue-1: 26;
    --hue-2: 244;
    --saturation-1: 30%;
    --saturation-2: 100%;

    --luminance: 70%;

    --low: 3; /* size of square for low*/
    --medium: 5;
    --high: 7;
}

@keyframes timer-animation {
    0% {
        opacity: 1;
        transform: scale(2);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

* {
    font-family: sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 30px 0;
    font-size: 60px;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    max-width: 60%;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 28px;
}

p {
    font-size: 24px;
    margin: 10px 0;
}

p ol {
    margin: 5px 0;
}

.important-message {
    text-align: center;
    color: red;
}


/**********
Initial view
**********/

#init-view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#participant-id-form {
    margin: 10px 0 0 0;
    min-width: 200px;
}

#participant-id-input {
    min-height: 50px;
    font-size: 28px;
}



/**********
Pause view
***********/

#pause-view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#timer-display {
    font-size: 200px;
    opacity: 0;

    animation-name: timer-animation;
    animation-duration: 1s;
    animation-iteration-count: 5;
}



/**********
Trial view
**********/

#trial-view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#trial-view p {
    margin: 25px 0;
}

.init-state {
    width: 50%;
}

.low {
    display: grid;
    grid-template-columns: repeat(var(--low), 50px);
    grid-template-rows: repeat(var(--low), 50px);
    gap: 50px;
}

.medium {
    display: grid;
    grid-template-columns: repeat(var(--medium), 50px);
    grid-template-rows: repeat(var(--medium), 50px);
    gap: 50px;
}

.high {
    display: grid;
    grid-template-columns: repeat(var(--high), 50px);
    grid-template-rows: repeat(var(--high), 50px);
    gap: 50px;
}

.cell {
    border-radius: 50%;
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

.test-state .cell.hue.saturation {
    background-color: hsl(var(--hue-1), var(--saturation-1), var(--luminance));
}

.test-state .cell.hue-alternate.saturation {
    background-color: hsl(var(--hue-2), var(--saturation-1), var(--luminance));
}

.test-state .cell.hue.saturation-alternate {
    background-color: hsl(var(--hue-1), var(--saturation-2), var(--luminance));
}

.test-state .cell.hue-alternate.saturation-alternate {
    background-color: hsl(var(--hue-2), var(--saturation-2), var(--luminance));
}

.check-state .cell {
    background-color: black;
}



/*********
Final view
*********/

#final-view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}